export(hivc.clu.geneticdist.cutoff)
export(hivc.cmd.clustalo)
export(hivc.cmd.get.geneticdist)
export(hivc.cmd.hpccaller)
export(hivc.cmd.hpcwrapper)
export(hivc.seq.create.referencepairs)
export(hivc.seq.dist)
export(hivc.seq.read.GenBank)
export(hivc.seq.rmgaps)
export(HPC.LOAD)
export(HPC.NPROC)
export(HPC.SYS)
export(or.dist.dna)
export(PR.CLUSTALO.HMM)
export(PR.CLUSTALO)
export(PR.GENDISTMAT)
useDynLib(hivc)
