export(hivc.beast2out.read.nexus.and.stats)
export(hivc.beast2out.read.trees)
export(hivc.clu.clusterbythresh)
export(hivc.clu.geneticdist.cutoff)
export(hivc.cmd.beast.read.nexus)
export(hivc.cmd.beast.run.treeannotator)
export(hivc.cmd.beast.runxml)
export(hivc.cmd.beast2.runxml)
export(hivc.cmd.betareg.estimate.risks)
export(hivc.cmd.blast.makedb)
export(hivc.cmd.blast)
export(hivc.cmd.clustalo)
export(hivc.cmd.examl.bootstrap.on.one.machine)
export(hivc.cmd.examl.bootstrap)
export(hivc.cmd.examl.bsalignment)
export(hivc.cmd.examl.bsstarttree)
export(hivc.cmd.examl.cleanup)
export(hivc.cmd.examl)
export(hivc.cmd.get.firstseq)
export(hivc.cmd.get.geneticdist)
export(hivc.cmd.hpccaller)
export(hivc.cmd.hpcwrapper)
export(hivc.cmd.ph.dist.tips)
export(hivc.cmd.preclustering)
export(hivc.cmd.recombination.check.candidates)
export(hivc.cmd.recombination.process.3SEQ.output)
export(hivc.cmd.recombination.run.3seq)
export(HIVC.COUNTRY.TABLE)
export(HIVC.db.locktime)
export(HPC.CX1.IMPERIAL)
export(HPC.LOAD)
export(HPC.MEM)
export(HPC.MPIRUN)
export(HPC.NPROC)
export(PR.BEAST)
export(PR.BEAST2.CLUTREES.PIPE)
export(PR.BEAST2.PLOTCLUTREES)
export(PR.BEAST2)
export(PR.BEAST2CLUPOSTERIOR)
export(PR.BEAST2CLUTREES)
export(PR.BEAST2SA)
export(PR.BEASTEVALRUN)
export(PR.BEASTMCC)
export(PR.BEASTPARSER)
export(PR.BEASTPOOLRUN)
export(PR.BETAREG.ESTRISK)
export(PR.BLASTMAKEDB)
export(PR.BLASTMASK)
export(PR.BLASTN)
export(PR.CLUST)
export(PR.CLUSTALO.HMM)
export(PR.CLUSTALO)
export(PR.CLUSTMSM)
export(PR.CLUSTTPTN)
export(PR.EXAML.BS)
export(PR.EXAML.BSCREATE)
export(PR.EXAML.EXAML)
export(PR.EXAML.PARSER)
export(PR.EXAML.STARTTREE)
export(PR.FIRSTSEQ)
export(PR.GENDISTMAT)
export(PR.PH.DISTTIPS)
export(PR.PRECLUST)
export(PR.RECOMB.3SEQ)
export(PR.RECOMB.CHECKCANDIDATES)
export(PR.RECOMB.PLOTINCONGRUENCE)
export(PR.RECOMB.PROCESS3SEQOUTPUT)
export(seq.collapse.singles)
export(seq.create.referencepairs)
export(seq.dist.dna)
export(seq.dist.pairwise)
export(seq.dist)
export(seq.read.GenBank)
export(seq.read.newick)
export(seq.rm.drugresistance)
export(seq.rmallchar)
export(seq.rmgaps)
export(seq.unique)
export(seq.write.dna.nexus)
export(seq.write.dna.phylip)
import(ape)
import(data.table)
import(geiger)
import(igraph)
import(phytools)
useDynLib(hivc)
